@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
}

.header h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: white;
}

.navbar{
    padding-top: 20px;
}

ul{
   width: auto;
   float: right;
   margin-top: 8px; 
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
}

a:hover{
    color: gray;
    transition: 0.5s;

}

#particles-js{
    height: 100vh;
}


.welcome{
    text-align: center;
    position: absolute;
    color: white; 
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.welcome h1{
    margin-top: 50px;
    margin-left: 130px;
    letter-spacing: 2px;
    font-size: 42px;
    text-transform: uppercase;
}

h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    margin-top: 3cm;
    justify-self: center;
    text-align: center;
}

.welcome p{
    font-size: 18px;
    margin-top: 25px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.welcome h4{
    font-size: 30px;
    margin-top: 25px;
}

.fa {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  } 

.s-m{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.s-m a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 30px;

}

.s-m a:hover{
    background: gray;

}

.s-m a i{
    transition: 0.4s all;    
}

.s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #000000, #001aff, #ff0000, #c4ff3b);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}

nav{
    margin-right: 100px;
}
